################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BMS.Application/bin/Debug/net6.0
/BMS.Application/obj
/BMS.Core/bin/Debug/net6.0
/BMS.Core/obj
/BMS.Infra.DAL/bin/Debug/net6.0
/BMS.Infra.DAL/obj
/BMS.Test.xUnit/bin/Debug/net6.0
/BMS.Test.xUnit/obj
/BMS.UI/bin/Debug/net6.0
/BMS.UI/obj
/BMS.WebAPI/bin/Debug/net6.0
/BMS.WebAPI/obj/BMS.WebAPI.csproj.nuget.dgspec.json
/BMS.WebAPI/obj/BMS.WebAPI.csproj.nuget.g.props
/BMS.WebAPI/obj/BMS.WebAPI.csproj.nuget.g.targets
/BMS.WebAPI/obj/project.assets.json
/BMS.WebAPI/obj/project.nuget.cache
/BMS.WebAPI/obj/Debug/net6.0/ref/BMS.WebAPI.dll
/BMS.WebAPI/obj/Debug/net6.0/refint/BMS.WebAPI.dll
/BMS.WebAPI/obj/Debug/net6.0/staticwebassets/msbuild.build.BMS.WebAPI.props
/BMS.WebAPI/obj/Debug/net6.0/apphost.exe
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.AssemblyInfo.cs
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.assets.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.csproj.AssemblyReference.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.csproj.FileListAbsolute.txt
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.csproj.Up2Date
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.dll
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.MvcApplicationPartsAssemblyInfo.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.pdb
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.sourcelink.json
/BMS.WebAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.BMS.WebAPI.props
/BMS.WebAPI/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.BMS.WebAPI.props
/BMS.WebAPI/obj/Debug/net6.0/staticwebassets.build.endpoints.json
/BMS.WebAPI/obj/Debug/net6.0/staticwebassets.build.json
/BMS.WebAPI/obj/Debug/net6.0/staticwebassets.references.upToDateCheck.txt
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.csproj.CoreCompileInputs.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.MvcApplicationPartsAssemblyInfo.cs
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.AssemblyInfoInputs.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.genruntimeconfig.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.AssemblyInfo.cs
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.AssemblyInfoInputs.cache
/BMS.WebAPI/obj/BMS.WebAPI.csproj.nuget.dgspec.json
/BMS.WebAPI/obj/BMS.WebAPI.csproj.nuget.g.props
/BMS.WebAPI/obj/BMS.WebAPI.csproj.nuget.g.targets
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.assets.cache
/BMS.WebAPI/obj/Debug/net6.0/BMS.WebAPI.csproj.AssemblyReference.cache
/BMS.WebAPI/obj/project.assets.json
/BMS.WebAPI/obj/project.nuget.cache
/BMS.WebAPI/obj/Debug/net6.0
